<template>
  <div>
    <!-- 確認用画像 -->
    <p v-if="confirmedImage">
      <img class="img" :src="confirmedImage" />
    </p>
    <p id="message">{{ message }}</p>
    <p>
      <label>画像タイトル:<input type="text" id="title" v-model="title"></label>
    </p>
    <p>
      <input type="file" id="file" @change="confirmImage" v-if="view" accept="image/jpeg">
    </p>
    <p>
      <button @click="uploadImage">アップロード</button>
    </p>
    <a href="../">一覧画面に戻る</a>
  </div>
</template>

<script>
export default {
  data () {
    return {
      message: "",
      file: "",
      title: "",
      view: true,
      images: {},
      confirmedImage: ""
    }
  },
  methods: {
    confirmImage(e) {
      this.message = "";
      this.file = e.target.files[0];
      if (!this.file.type.match("image.*")) {
        this.message = "画像ファイルを選択して下さい";
        this.confirmedImage = "";
        return;
      }
      this.createImage(this.file);
    },
    createImage(file) {
      let reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onload = e => {
        this.confirmedImage = e.target.result;
      };
    },
    uploadImage() {
      let data = new FormData();
      data.append("file", this.file);
      data.append("title", this.title);
      axios
        .post("/image", data)
        .then(response => {
          this.message = "投稿完了"; // response.data.success;
          this.confirmedImage = "";
          this.title = "";
          this.file = "";
 
          //ファイルを選択のクリア
          this.view = false;
          this.$nextTick(function() {
            this.view = true;
          });
        })
        .catch(err => {
          console.log(err)
          this.message = err.response.data.errors;
        });
    },
  }
}
</script>

<style lang="scss">
.img {
  width: 300px;
  max-width: 90vw;
}

#app {
  font-family:
    "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
