<template>
  <div>
    <p>{{ message }}</p>
    <p><a href="post">画像投稿画面へ</a></p>
    <!-- 画像一覧 -->
    <table border="1">
      <tr>
        <th>ID</th>
        <th>タイトル</th>
        <th>画像</th>
        <th>操作</th>
      </tr>
      <tr v-if="images.length === 0">
        <td colspan="4">画像がまだ投稿されていません。</td>
      </tr>
      <tr v-for="image in images" :key="image.id">
        <td>{{ image.id }}</td>
        <td>{{ image.title }}</td>
        <td><img class="img" :src="`images/${image.filename}`" /></td>
        <td><button @click="destroyImage(image.id)">削除</button></td>
      </tr>
    </table>
  </div>
</template>
 
<script>
export default {
  data() {
    return {
      message: "",
      images: {},
    };
  },
  created: function() {
    this.getImages();
  },
  methods: {
    getImages() {
      axios
        .get("/images/")
        .then(response => {
          this.images = response.data.images;
        })
        .catch(err => {
          console.log(err)
          this.message = err;
        });
    },
    destroyImage(id) {
      axios
        .delete(`/image/${id}`)
        .then(response => {
          this.message = response.data.message;
          this.getImages();
        })
        .catch(err => {
          console.log(err)
          this.message = err;
        });
    }
  }
};
</script>
 
<style>
.img {
  width: 300px;
  max-width: 90vw;
}

#app {
  font-family:
    "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
